
.montserrat,
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-regular, .tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

.title-bold, .tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
}

.title-regular-italic, .tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}

.title-bold-italic, .tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
}



body,
.etmw-bg-main {
    background-color: #282e32;
    color: white;
}

.etmw-bg-secondary {
    background-color: #1b1e21;
    color: white;
}

.pointer {
    cursor: pointer;
}