@if (audiobook) {
    @if (template == 'default') {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="work-card">
                <div class="work-content">
                    <div class="d-flex justify-content-start align-items-start gap-3">
                        <img src="https://images.squarespace-cdn.com/content/v1/624da83e75ca872f189ffa42/aa45e942-f55d-432d-8217-17c7d98105ce/image001.jpg"  
                            alt="Book title" class="mt-1 work-cover rounded-4" style="width:110px" />
                        <div>
                            <div class="btn btn-sm btn-secondary rounded-pill">
                                Thriller
                            </div>
                            <div class="mt-2 work-title">
                                This is the Title of the Book
                            </div>
                            <div class="work-author m-1">
                                by Walter A Rodriguez
                            </div>
                            <div class="d-flex justify-content-between align-items-center gap-2">
                                <div class="work-meta-item">
                                    <i class="bi bi-clock"></i>
                                    <span>7h 21m</span>
                                </div>
                                <div class="work-meta-item">
                                    <i class="bi bi-book"></i>
                                    <span>24 chapters</span>
                                </div>
                                <div class="work-meta-item">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <span>4.6</span>
                                </div>
                            </div>
                            <button class="mt-3 btn btn-sm btn-primary rounded-pill">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } @else if (template == 'md') {
    
        <div class="etmw-bg-lighter rounded-5 px-3 pt-2 pb-4 position-relative">
            <div class="d-flex justify-content-between align-items-center gap-3">
                <div style="max-width: 70%; overflow: hidden;" class="fw-bold">
                    The anatomy of a Body
                </div>
                <button class="btn btn-dark rounded-pill">
                    <i class="bi bi-play-fill"></i> Play
                </button>
            </div>
            <div class="mt-1 d-flex justify-content-start align-items-center gap-3">
                <div>
                    <img style="width:70px; height: 120px; object-fit: cover;" class="rounded-3" src="https://images.squarespace-cdn.com/content/v1/624da83e75ca872f189ffa42/aa45e942-f55d-432d-8217-17c7d98105ce/image001.jpg" />
                </div>
                <div>
                    <div class="mt-2 d-flex justify-content-start align-items-center gap-2">
                        <div class="bg-dark text-gray-400 rounded-4 px-2 pt-1 pb-1 small">
                            6h 21m
                        </div>
                        <div class="bg-dark text-gray-400 rounded-4 px-2 pt-1 pb-1 small">
                            4.5 rating
                        </div>
                        <div class="bg-dark text-gray-400 rounded-4 px-2 pt-1 pb-1 small text-truncate" style="max-width: 50%;">
                            Mariano E Rodriguez
                        </div>
                    </div>
                    <div class="mt-2 text-gray-400 small" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">
                        When the author talks about this and that, it reminded me of when I was at home and then my wife tried to tell me that I was wrong.
                    </div>        
                    <div class="mt-2 d-flex justify-content-start align-items-center gap-2">
                        <div class="bg-dark text-success rounded-4 px-2 pt-1 pb-1 small pointer">
                            Debate active
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}